<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> 404 Not Found! -- entrii.me</title>
    <link href="style.css" rel="stylesheet">
    <script>
        function site() {
            window.open("/")
        }
    </script>
</head>
<body>
<div>
    <div>
        <h1>
            404 <i>Not found</i>
        </h1>
        <h5>
            This page isn't supposed to be accessed.
         </h5>
        <button id="back" onclick="site()">
            < Go back
        </button>
    </div>
</div>
<div class="bottom">
    Created by Kason Gu (2021 - 2022)
    
</div>
</body>
</html>