body {
    background-color: #b1e9ff;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
}

div {
    background-color: white;
    margin: 10% 10% 10% 10%;
    position: relative;
    text-align: center;
    padding: 10px;
}

button {
    display: table;
    width: available;
    margin: 0 auto;
    position: relative;
    color: white;
    background-color: dodgerblue;
    border: solid 0 dodgerblue;
    padding: 10px;
    transition: 0.5s ease-out;
    font-family: "Century Gothic", sans-serif;
}

button:hover {
    background-color: white;
    color: dodgerblue;
    transition: 0.8s;
}

.bottom {
    bottom: 0;
    position: relative;
}